@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  /* font-family: 'Noto Serif TC', serif; */
}
